* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Maple Mono NF Medium;
    font-size: 14px;
}

window#waybar {
    background-color: #181926;
    color: #fefefe;
    transition-property: background-color;
    transition-duration: .4s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

/* Global box properties */
#backlight,
#battery,
#bluetooth,
#clock,
#language,
#network,
#pulseaudio,
#workspaces,
#tray {
    background-color: #363a4f;
    border-radius: 7px;
    border: 1px solid #6e738d;
    padding: 2px 10px;
    margin: 5px 0;
    color: #fefefe;
}

#workspaces button {
    padding: 0 5px;
    border-radius: 7px;
    color: #fefefe;
}

#workspaces button.empty {
    color: #939ab7;
}

#workspaces button.active {
    background-color: #8aadf4;
    color: #363a4f;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 10px;
}

.modules-right > widget:last-child > #battery {
    margin-right: 10px;
}

#clock {
}

#battery {
    color: #c6a0f6;
    border-color: #c6a0f6;
}

#battery.charging, #battery.plugged {
    color: #f5bde6;
    border-color: #f5bde6;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #ed8796;
}

#bluetooth {
    color: #a6da95;
    border-color: #a6da95;  
}

#backlight {
    color: #eed49f;
    border-color: #eed49f;
}

#language {
    color: #f4dbd6;
    border-color: #f4dbd6;
    padding-right: 5px;
}

#network {
    color: #f5a97f;
    border-color: #f5a97f;
}

#network.disconnected {
}

#pulseaudio {
    color: #b7bdf8;
    border-color: #b7bdf8;
}

#pulseaudio.muted {
}

#tray {
    color: #f4dbd6;
    border-color: #f4dbd6;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

