* {
    bg-col:  #11111b;
    bg-col-light: #1e1e2e;
    blue: #89b4fa;
    green: #a6e3a1;
    yellow: #f9e2af;
    purple: #cba6f7;
    magenta: #eba0ac;
    orange: #fab387;
    red: #f38ba8;
    fg-col: #cdd6f4;
    grey: #45475a;
    width: 600;
}
